body {
    background-color: beige;
}

body .description{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: orangered;
}

nav .nav_link{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    left: 45%;
    text-align: center;
}

footer .ft_icon {
    widows: 40px;
    height: 40px;
}

.ft_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    font-weight: bolder;
}

body .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    text-decoration: underline;
    text-align: center;
}

body .inframe{
    list-style: none;
}

body iframe{
    border-radius: 5%;
}
