body{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: auto;
}
.contenedor {
    display: flex;
    flex-direction: column;
}

.nav_link {
    padding: 1em;
    margin: 0 auto;
    margin-top: 5em;
    width: 6em;
    background-color: darkblue;
    background-size: contain;
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    border-radius: 5%;
}

nav {
    background-color: aquamarine;
    list-style-type: none;
    height: 120vh;
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

table{
	width: 100%;
	height: 2em;
	border: solid;
}
table th{
	width: 2em;
	border-collapse: collapse;
}
table td img{
	width: 7em;
}
table td{
	text-align: center;
	font-family: calibri;
	font-size: 1.5em;
	border-collapse: collapse;
}
#romeo_santos{
	color:green;
}

.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer {
    bottom: 0;
    text-align: center;
	width: 100%;
}

.ft_icon {
    widows: 40px;
    height: 40px;
}

.ft_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    font-weight: bolder;
}